h1{
    font-weight: 500;
    font-size: 2.5rem;
}

.text-areas-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 80%;

    textarea{
        min-width: 50%;
        min-height: 10vh;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        font-size: 1.1rem;
        padding: 0.4em;
        transition: background-color 0.1s;
    
        &:hover{
            background-color: rgba(255, 255, 255, 0.15);
        }
    }
}


@media screen and (min-width: 450px) and (max-width: 1024px) {
    .text-areas-container{
        width: 80%;
        gap: 2rem;
    }
}

@media screen  and (max-width: 450px){
    .text-areas-container{
        flex-direction: column;
        gap: 2rem;
        width: 100%;

        textarea{
            width: 100%;
        }
    }
}